<ng-include src="'templates/menu.html'"></ng-include>

<snap-content class="panel page-listing">

	<section class="panel panel-padding" >

		<ng-include src="'templates/header.html'"></ng-include>

		<!--<div ng-show="isOnline && dataPage">-->
		<div class="application-mobile">
			
			<h1 style="font-size:17px; line-height:20px;">EMPORTEZ<br />LES ÉTAPES SAVOUREUSES<br />AVEC VOUS !</h1>

			<div>
				<img class="fond" src="img/appli-fond1.png" alt="Application mobile Les étapes savoureuses"/>

				<p>Emportez les étapes savoureuses dans votre poche grâce à l’application mobile.<br />
Découvrez les producteurs et les entreprises, les fêtes et les marchés, les musées gourmands et les restaurants de qualité proches de vous.</p>
				
				<div class="bt-applis-ctn">
					<a href="jhfdhfjkds" target="_blank" class="button-appli playstore"></a>
					<a href="jhfdhfjkds" target="_blank" class="button-appli applestore"></a>
				</div>
				<div class="clear"></div>

				<img style="margin-top:80px;" class="fond" src="img/appli-fond2.jpg" alt="Application mobile Les étapes savoureuses"/>
			</div>
		</div>


	</section>
	
</snap-content>

