<ng-include src="'templates/menu.html'"></ng-include>

<snap-content id="page-apropos" class="panel page-listing">

	<section class="panel panel-padding" >

		<ng-include src="'templates/header.html'"></ng-include>

		<div class="block" ng-repeat="bloc in contentPage">
			<div class="content">
				<h2 ng-bind-html="bloc.titre"></h2>

				<img ng-show="bloc.image != ''" src="{{imgFromStorage(bloc.image.url)}}" alt="{{bloc.titre}}" />

				<div ng-bind-html="bloc.texte"></div>

				<span ng-show="bloc.link_title != '' && bloc.link != ''">
					<a target="_blank" href="{{bloc.link}}" title="{{bloc.link_title}}" class="button-pdf"><p>{{bloc.link_title}}</p></a>
				</span>

			</div>
		</div>

	</section>
	
</snap-content>
