<ng-include src="'templates/menu.html'"></ng-include>

<snap-content class="panel">

	<div class="page-container fadeAnimation"  ng-if="pageName == 'etapes'" ng-switch on="etapesPageName">
		<section class="panel panel-padding" >
			
			<ng-include src="'templates/header.html'"></ng-include>

			<div class="page-acotedemoi" ng-show="etapesPageName == 'carte' && typeSelection != null && map != null && selectionsDatas != null">
				<div ng-click="toggleFiltresCarte()" class="bt-infos bt-filtre"></div>
				<div ng-click="toggleFiltresCarte()" class="cover" ng-class="{'close': displayFiltresCarte==false}" ></div>

				<div class="infos" ng-class="{'ng-show': displayFiltresCarte==true}"  >
					
					<p>{{getTrad('recherche_acote')}}</p>
					<div class="liste_choice_ctn">
							
						<label ng-repeat="selection in typeSelection" ng-class="{'not_selected':selectionsDatas[selection.selection_id].selected == false, 'selected':selectionsDatas[selection.selection_id].selected == true}" for="select-{{selection.slug}}" style="background-color:{{selectionsDatas[selection.selection_id].color}};border-color:{{selectionsDatas[selection.selection_id].color}};color:{{selectionsDatas[selection.selection_id].color}};">
							<input ng-change="changeSelectionCarte()" type="checkbox" id="select-{{selection.slug}}" ng-model="selectionsDatas[selection.selection_id].selected" />
							{{selection.name}}
						</label>

						
					</div>
				</div>
			</div>

			<div class="page-acotedemoi" ng-show="etapesPageName == 'acotedemoi' && typeSelection != null && selectionsDatas != null">
				<div ng-click="toggleFiltres()" class="bt-infos bt-filtre"></div>
				<div ng-click="toggleFiltres()" class="cover" ng-class="{'close': displayFiltres==false}" ></div>

				<div class="infos" ng-class="{'ng-show': displayFiltres==true}"  >
					
					<p>{{getTrad('recherche_acote')}}</p>
					<div class="liste_choice_ctn">
							
						<label ng-repeat="selection in typeSelection" ng-class="{'not_selected':selectionsDatas[selection.selection_id].selected == false, 'selected':selectionsDatas[selection.selection_id].selected == true}" for="select-{{selection.slug}}" style="background-color:{{selectionsDatas[selection.selection_id].color}};border-color:{{selectionsDatas[selection.selection_id].color}};color:{{selectionsDatas[selection.selection_id].color}};">
							<input type="checkbox" id="select-{{selection.slug}}" ng-model="selectionsDatas[selection.selection_id].selected" />
							{{selection.name}}
						</label>

						
					</div>
				</div>
			</div>
			
			<div class="animate-switch-container blockactu-{{etapesPageName}} blockprevious-{{oldpage}}">
				
				<div class="animate-switch block-themes" ng-switch-when="themes">
					<p ng-show="connectionProblem" class="error">{{getTrad('connexion_issue')}}</p>
					<ng-include src="'templates/themes.html'"></ng-include>
				</div>	
				<div class="animate-switch block-carte" ng-switch-when="carte">
					<p ng-show="connectionProblem" class="error">{{getTrad('connexion_issue')}}</p>
					<ng-include src="'templates/carte.html'"></ng-include>
				</div>
				<div class="animate-switch block-acotedemoi" ng-switch-when="acotedemoi">
					<p ng-show="connectionProblem" class="error">{{getTrad('connexion_issue')}}</p>
					<ng-include src="'templates/procheDeMoi.html'"></ng-include>
				</div>
				
			</div>
		</section>
		
		<nav class="nav" ng-show="themes != null" >
			<span ng-model="etapesPageName" ng-click="etapesPageName='themes'; oldpage='themes'" ng-class="{active: etapesPageName=='themes'}"><p>{{getTrad('theme_nav')}}</p></span>
			<span ng-model="etapesPageName" ng-click="etapesPageName='carte'; getPosition()" ng-class="{active: etapesPageName=='carte'}"><p>{{getTrad('carte_nav')}}</p></span>
			<span ng-model="etapesPageName" ng-click="etapesPageName='acotedemoi'; oldpage='acotedemoi' ; getPosition()" ng-class="{active: etapesPageName=='acotedemoi'}"><p>{{getTrad('acote_nav')}}</p></span>
		</nav>

	</div>
	
</snap-content>

