<snap-drawer ng-controller="NavCtrl" class="scrollable" >
	<div class="menu-container">

		<span class="logo-menu" ></span>

		<ul>
			<li snap-toggle class="etapes" ng-class="{active: pageName=='etapes'}" ng-click="goToPage('home/themes')" >
				<span>Quelle sera<br />votre prochaine étape ?</span>
			</li>
			<li snap-toggle class="actualites" ng-class="{active: pageName=='actualites'}" ng-click="goToPage('actualites')" >
				<span>Actualités</span>
			</li>
			<li snap-toggle class="jouer" ng-class="{active: pageName=='jouer'}" ng-click="goToPage('jouer')" >
				<span>Jouer</span>
			</li>
			<li ng-show="version == 'site-mobile'" snap-toggle class="appli" ng-class="{active: pageName=='application-mobile'}" ng-click="goToPage('application-mobile')" >
				<span>Application mobile</span>
			</li>

			<li ng-hide="isOnline" snap-toggle class="about" ng-click="goToPage('connexion-problem')" >
				<span>A propos</span>
			</li>
			
			<li ng-show="isOnline" ng-click="isReglagesOpen = false ; isAboutOpen = !isAboutOpen"  class="about parent" ng-class="{open: isAboutOpen || pageName=='apropos' }">
				<span>A propos</span>
			</li>
				<ul class="sousmenu" ng-class="{activate: isAboutOpen || pageName == 'apropos'}">

					<li ng-repeat="lien in menuApropos" class="quisommesnous" ng-click="goToPage('apropos/'+lien.post_name+'-'+lien.ID)"  ng-class="{active: aproposPage==lien.post_name+'-'+lien.ID}">
						<span >{{lien.post_title}}</span>
					</li>
				</ul>
		</ul>
	</div>
</snap-drawer>