<div ng-controller="ACoteCtrl" class="page page-under-header background-panel-rouge">
	
	<div ng-show="contentLoading && isOnline" ng-init="setupLoader()" class="loading" >
		<div id="canvasLoaderAcote" class="loader-wrapper"></div>
	</div>

	<div class="page-acotedemoi" class="list-etapes">


		<p class="error window-connect" ng-show="geolocationError || error || isOnline == false">{{getTrad('geoloc_issue')}}</p>

		<ul class="themes-liste acote-liste" >

			<li ng-show="selectionsDatas[etape.idSelection].selected" ng-repeat="etape in listEtapeTriee" style="background-color:{{theme.category_color}};" ng-click="goToFiche(etape.id);"  >
				<span ng-if="etape.imagePrincipale.traductionFichiers[0].url != null" class="etape-image" style="background-image:url({{etape.imagePrincipale.traductionFichiers[0].url}});"></span>
				<span ng-if="etape.imagePrincipale.traductionFichiers[0].url == null" class="etape-image" ></span>
				<span class="titre titre-avec-image">
					<p class="type">{{selectionsDatas[etape.idSelection].name}}</p>
					<p>{{etape.nom.libelleFr}}</p>
				</span>

				<span class="nb-etapes">
					<span ng-show="isOnline" class="chiffre">{{etape.km.valueRounded}}</span>
					<span ng-show="isOnline" class="label"><span ng-hide="etape.km.valueRounded == null">KM</span></span>
				</span>

			</li>
		</ul>
	</div>


</div>